 .u-section-1 {
  min-height: 719px;
}

.u-section-1 .u-image-1 {
  width: 464px;
  left: auto;
  right: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 698px;
  margin: 60px auto 60px calc(((100% - 1140px) / 2) + 10px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 265px;
}

.u-section-1 .u-line-1 {
  width: 140px;
  height: 9px;
  transform-origin: left center 0;
  margin: 25px auto 0 20px;
}

.u-section-1 .u-shape-1 {
  width: 394px;
  height: 114px;
  margin: 59px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: -162px 20px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 247px;
}

.u-section-1 .u-text-2 {
  margin: 49px 20px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 247px;
  background-image: none;
}

.u-section-1 .u-text-3 {
  margin: 0 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 116px;
    margin-left: 16px;
  }

  .u-section-1 .u-shape-1 {
    width: 325px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 407px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 89px;
    margin-left: 13px;
  }

  .u-section-1 .u-shape-1 {
    width: 249px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 507px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 83px;
    margin-left: 9px;
  }

  .u-section-1 .u-shape-1 {
    width: 233px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 70px;
    margin-left: 6px;
  }

  .u-section-1 .u-shape-1 {
    width: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 741px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-2 .u-image-1 {
  min-height: 301px;
  background-image: url("images/78bbe897-14a3-4d47-b372-475f30c1f963.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  min-height: 301px;
  background-image: url("images/2eb8685c-cc59-4bf5-b256-fcf5e0380229.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  min-height: 301px;
  background-image: url("images/57c725bf-04e1-4d9c-a0bb-d4717d249f78.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  min-height: 301px;
  background-image: url("images/9757d32d381056e0d61d3bd3aeee23a2.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-5 {
  min-height: 301px;
  background-image: url("images/26b4e37510facaa80cadfc03cd1bf783.jpeg");
  background-position: 91.04% 50%;
}

.u-section-2 .u-image-6 {
  min-height: 301px;
  background-image: url("images/cc695125d18684571ead94aff18a490c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-7 {
  min-height: 301px;
  background-image: url("images/f721a80d-a603-4d09-8bcd-5f19612b8452.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-8 {
  min-height: 301px;
  background-image: url("images/419db9a6-719d-4999-b782-149b6cc13a54.jpg");
  background-position: 50% 50%;
}.u-section-3 .u-sheet-1 {
  min-height: 601px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 31px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 305px;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 30px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 305px;
  background-image: none;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 30px 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 305px;
  background-image: none;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 30px 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 305px;
  background-image: none;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px 30px 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 305px;
  background-image: none;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-10 {
  font-size: 0.875rem;
  margin: 20px 30px 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 305px;
  background-image: none;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-12 {
  font-size: 0.875rem;
  margin: 20px 30px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-8 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-10 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-12 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 14px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }
} .u-section-4 {
  min-height: 604px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 604px;
}

.u-section-4 .u-group-elements-1 {
  width: 468px;
  min-height: 181px;
  height: auto;
  margin: 0 auto;
}

.u-section-4 .u-shape-1 {
  width: 254px;
  height: 93px;
  margin: 0 24px 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -85px 196px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/d962208d4921b6c2f7de9b7ea291122d.jpeg");
  min-height: 604px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-elements-1 {
    width: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-elements-1 {
    width: 340px;
  }
} .u-section-5 {
  min-height: 604px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-5 .u-image-1 {
  background-image: url("images/7de33e0b3b5a270c4ed54706cd2a70f8.jpeg");
  min-height: 604px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 604px;
}

.u-section-5 .u-group-elements-1 {
  width: 461px;
  min-height: 128px;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-shape-1 {
  width: 278px;
  height: 93px;
  margin: 0 14px 0 auto;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: -85px 60px 0 0;
}

.u-section-5 .u-text-2 {
  width: 461px;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-elements-1 {
    width: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-elements-1 {
    width: 340px;
  }
}